<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609809807065-fr2mb93o49j2m6m92kqrkebeobhkacns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609809807065-fr2mb93o49j2m6m92kqrkebeobhkacns</string>
	<key>API_KEY</key>
	<string>AIzaSyDlQkukkhPFH8dSVHvSQPN4mIZ5Swh3yt4</string>
	<key>GCM_SENDER_ID</key>
	<string>609809807065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rent2Go</string>
	<key>PROJECT_ID</key>
	<string>rent2go-daf9d</string>
	<key>STORAGE_BUCKET</key>
	<string>rent2go-daf9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609809807065:ios:c9a97a588d6ef9bdd1b0c8</string>
</dict>
</plist>